doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

#login-button
.post-image
span#highlight
p.hidden.full

p Welcome to Express
button(type='submit') 전송

p
    | 안녕하세요.
    | 여러 줄을 입력합니다.
    br
    | 태그도 중간에 넣을 수 있습니다.

style.
    h1{
        font-size: 30px;
    }
script.
    var message = 'Pug';
    alert(message);

h1= title
p Welcome to #{title}
button(class=title, type='submit') 전송
input(placeholder=title + '연습')

- var node = 'Node.js'
- var js = 'Javascript'
p #{node}와 #{js}

ul
    each fruit, index in ['사과', '배', '오렌지', '바나나', '복숭아']
        li = (index + 1) + '번째' + fruit

if isLoggedIn  
    div 로그인 되었습니다.
else 
    div 로그인이 필요합니다.

case fruit
    when 'apple'
        p 사과입니다.
    when 'banana'
        p 바나나입니다.
    when 'orange'
        p 오렌지입니다.
    default
        p 사과도 바나나도 오렌지도 아닙니다.    
